.rrp{
    /* background-image: linear-gradient(to right top, #2b3f5e, #135f83, #00829e, #00a5ad, #0fc7ad); */
    margin: 0 9px !important;
    border-radius: 13px;
    padding: 0 13px;
}

.up-rest{
    width: 5% !important;
    }

@media only screen and (max-width: 1000px) {
   .lg-btn{
    width: 81%;
    margin-left: -3%;
   }
.spn-input{
    width: 100% !important;
}
#upgrade-act{
    margin-top: 10px;

}

.up-rest{
width: 11% !important;
}

   #in-btn{
    margin-left: -12.5% !important;
   }


   .numbtn button {
    /* padding: 5px 27px 5px 34px !important;
    margin-left: 4px !important; */

   }


}

::placeholder{
    color: #000 !important;
}
.head{
    color: #fff;
    font-size: 30px !important;
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 80px;
    
    background-image: linear-gradient(#390283, #390283), radial-gradient(circle at top left, #016eda, #d900c0);
}
.bg_color_activate{
    background-color: rgb(57 2 131);
    box-shadow: 0px 0px 1rem #dce1df;
    margin-top: 19px;
    margin-bottom: 25px;
    border-radius: 11px;
    padding: 10px;
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
   
    
    background-image: linear-gradient(#390283, #390283), radial-gradient(circle at top left, #016eda, #d900c0);
}

.numbtn {
    margin: 0px -23px 15px;
    display: flex;
    justify-content: space-between;
}
.numbtn button {
    border: 1px solid #fff;
    background: #480297;
    color: #fff !important;
    /* padding: 5px 41px 5px 44px; */
    /* margin: 5px; */
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.lg-btn{
    width: 25%;
    padding: 5px 0px;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 8px;
}
.reset{
    border: 1px solid #fff;
    background: #480297;
    color: #fff !important;
    padding: 5px 20px 5px 20px;
    /* margin: 5px; */
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
.Activate_upgrate{
    display: flex;
    justify-content: space-between;
}
.input_width{
    color: #fff;
    border-radius: 10px;
    height: 35px;
    padding: 0px 0px 0px 10px;
    /* width: 52%; */
    background: #480297;
    border: 1px solid #ffffff9e;
    margin-bottom: 10px;
}
::placeholder{
    color: #fff !important;
}